body {
    background-color: #f2f2f2;
}

.input-area {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "Roboto", sans-serif;
    font-size: 72px;
    height: 100vh;
    width: 100%;
    border: 0px;
    outline: 0px;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.text-container {
    padding: 50px;
    background-color: white;
    max-width: 800px;
    margin: 0 auto;
    height: 100vh;
    box-shadow: 0px 4px 10px 0px rgba(33, 33, 33, 0.3);
}

nav {
    background-color: #455A64;
    color: #ffffff;
    box-shadow: 0px 4px 5px 0px rgba(33,33,33,0.1);
    z-index: 10000;
    position: relative;
}

.button:hover {
    -webkit-text-stroke: 0.5px #ffffff;
}

.toolbar {
    display: flex;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

.button {
    padding: 0.5em;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    font-family: Roboto, Tahoma, Arial, sans-serif;
}

@media (max-width: 500px) {
    .toolbar {
        display: block;
    }
    .button {
        display: inline-block;
    }
}