@font-face {
    font-family: 'Noto Japanese';
    src: url(https://dl.dropboxusercontent.com/u/20912690/NotoSansCJKjp-Regular.otf) format("opentype");
}
@font-face {
    font-family: 'Cute Japanese';
    src: url(https://dl.dropboxusercontent.com/u/20912690/APJapanesefont.ttf) format("truetype");
}
@font-face {
    font-family: 'KSO';
    src: url(https://dl.dropboxusercontent.com/u/20912690/KSO.ttf) format("truetype");
}